@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    
}
.head-section{
    height: 600px;
}
.head-section li a,.nav-btn{
    font-weight: 600;
    color: #C08DFF;
    
}
.nav-btn-search{
    border: 1px #C08DFF solid;
    border-radius: 50px;
}


.hero-text{
    padding-top: 40px;
}
.hero-text-h1{
    padding-left: 30px;
    font-weight: 600;
    font-size: 50px;
}
.hero-text-p h1{
    padding-top: 10px;
}
.hero-text-p p{
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-btn{
    border-radius: 63px;
    padding: 10px;
    width: 169px;
    background: #8828FF;
    font-weight: 500;
}
.hero-text-btn{
    margin-left: 35px;
    border: none;
}

.hero-img {
    border-radius: 20px;
    padding: 10px;
}
.main-div{
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Rectangle 63 */

    position: absolute;
    width: 100vw;
    height: 751px;
    left: 0px;
    top: 0px;

    background: #fff;
    position: relative;


}
.main-div h1{
    font-size: 6rem;
    text-transform: uppercase;
    z-index: 1;
}
.main-div p{
    font-size: 2rem ;
    color: red;
    z-index: 1;
}
.hero-section img{
    z-index: 0;
    position: absolute;
    
}

.great-perks-row{
    padding: 50px;
    padding-top: 60px;
    padding-bottom: 100px;
    
}
.great-perks-row h1{
    font-weight: 600;
}
.great-perks-row h4{
    font-weight: 600;
}

/* WHAT JOB PROFILES */

.job-pro h2{
    font-weight: 600;
}
.job-pro p{
    padding: 0 250px 0 250px;
}
.job-display{
    padding: 20px;

}
.common-box{
    /* border: 1px red solid; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    padding: 20px 0 10px 0;
}

/* join our team */
.join-team{
    
    padding: 0 120px 0 120px ;
}
.join-team-pad{
    padding: 40px 30px 40px 30px;
    color: #fff;
}
.join-team h1{
    font-weight: 600;
}
.join-team p{
    padding-right: 30%;
}
.join-team-btn{
    border: none;
    color: #fff;
    margin-top: 20px;
}
.join-team-btn-p{
    margin-top: 20px;
    margin-left: 35px;
    border: none;
    background: none;
    color: #fff;
    
}

/* footer */
.footer-inside{
    padding-left: 120px;
    padding-top: 90px;
    margin-top: 70px;
}
.footer-row{
    color: red;
    
}
